## .NET
bin/
obj/
*.user
.vs/
appsettings.Development.json

## Uploads y assets generados por usuarios
MyVirtualAcademy.API/wwwroot/uploads/
MyVirtualAcademy.API/wwwroot/assets/images/users/
MyVirtualAcademy.API/wwwroot/assets/images/courses/

## Carpeta de publicación
MyVirtualAcademy.API/publish/

## Build artifacts
*.nupkg
*.snupkg
